<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in results["series"][0]["values"] %}
    {{ i[7],i[3],i[5],i[10] }}<br>
{%  endfor %}

<div>
     <div>시간별(건)</div>
     <canvas id="hourChart" width="792" height="400"></canvas>
</div>
</body>
<script>
    $(document).ready(function () {
        hourChartSet();
    });

    function hourChartSet() {
        let hourChart = document.getElementById("hourChart").getContext('2d');
        let hour = {{results|tojson}};
        let dateArr = [];
        let dataArr = [];
        let KR_TIME_DIFF = 9 * 60 * 60 * 1000;

        for (let i = 0; i < hour["series"][0]["values"].length; i++) {
            let item = hour["series"][0]["values"][i];
            let setDate = new Date(item[2]).getTime();
            setDate = setDate + KR_TIME_DIFF;
            setDate = new Date(setDate).toISOString();
            let date = setDate.substring(5, 10) + " " + setDate.substring(11, 19);
            let value = item[1];

            dateArr.push(date);
            dataArr.push(value);
        }

        new Chart(hourChart, {
            type: "bar",
            data: {
                labels: dateArr,
                datasets: [
                    {
                        label: "시간별 데이터",
                        data: dataArr,
                        backgroundColor: "#6799FF",
                        radius: 0,
                        borderWidth: 1,
                    },
                ],
            },
        });
    }
</script>
</html>