<!DOCTYPE html>
<html lang="en">
<head>
    {% include './header.html' %}
    <meta charset="UTF-8">
    <title>Raise Coins</title>
</head>
<body>
<div id="commonTopHeader">
    {% include './comTopHeader.html' %}
</div>

<div id="commonBodyContents">
    {% include './sideMenu.html' %}

    <div id="commonContent">
        <div class="container">
<div id="Rank">
    <table>
    <tr>
    <td>{{ results[0]["TimeStamp"]}}</td>
    </tr>
    {%for line in results %}
    {% if loop.index <=30 %}
     <tr>
       <td> {{loop.index}} </td>
       <td><a href ="/coin10/{{ line["COIN"]}}" >{{ line["COIN"] }}</a></td>
       <td> {{ line["Score"] }} </td>
       <td> {{ line["Price"] }} </td>
     </tr>
    {% endif %}
    {% endfor %}
    </table>
</div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        document.getElementById("m10").setAttribute("href","/coinScore10")
        document.getElementById("m10").innerText = "Top 10"
        document.getElementById("m30").setAttribute("href","/coinScore20")
        document.getElementById("m30").innerText = "Top 20"
        document.getElementById("m60").setAttribute("href","/coinScore30")
        document.getElementById("m60").innerText = "Top 30"

    });
</script>
</html>