<!DOCTYPE html>
<html lang="en">
<head>
    {% include './header.html' %}
    <meta charset="UTF-8">
    <title>CoinStatus</title>
</head>
<body>
<div id="commonTopHeader">
    {% include './comTopHeader.html' %}      
</div>

<div id="commonBodyContents">
    {% include './sideMenu.html' %}
    
    <div id="commonContent">
        <div class="container">
        선택 코인: {{ results["series"][0]["values"][0][4] }}<br>
            <canvas id="hourChart" height="100"></canvas>
            코인 점수 : <div id = "sco"></div><br>
            가격 변동
            <canvas id="priceChart" height="100"></canvas>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        hourChartSet();
        calScore();
        let urlnew1 = "/coin10/{{ results["series"][0]["values"][0][4] }}"
        let urlnew2 = "/coin30/{{ results["series"][0]["values"][0][4] }}"
        let urlnew3 = "/coin60/{{ results["series"][0]["values"][0][4] }}"
        document.getElementById("m10").setAttribute("href",urlnew1)
        document.getElementById("m30").setAttribute("href",urlnew2)
        document.getElementById("m60").setAttribute("href",urlnew3)
    });

    function hourChartSet() {
        let hourChart = document.getElementById("hourChart").getContext('2d');
        let hour = {{results|tojson}};
        let dateArr = [];
        let dataArr = [];
        let colorArr = [];
        let KR_TIME_DIFF = 9 * 60 * 60 * 1000;

        for (let i = 0; i < hour["series"][0]["values"].length; i++) {
            let item = hour["series"][0]["values"][i];
            let setDate = new Date(item[7]).getTime();
            setDate = setDate + KR_TIME_DIFF;
            setDate = new Date(setDate).toISOString();
            let date = setDate.substring(5, 10) + " " + setDate.substring(11, 19);
            let value = item[3];
            dateArr.unshift(date);
            dataArr.unshift(value);
            if(value >= 100) colorArr.unshift("#F15F5F")
            else colorArr.unshift("#6799FF");
        }

        new Chart(hourChart, {
            type: "bar",
            data: {
                labels: dateArr,
                datasets: [
                    {
                        label: "매수/매도비율",
                        data: dataArr,
                        backgroundColor: colorArr,
                        radius: 0,
                        borderWidth: 1,
                    },
                ],
            },
        });
    }

        function priceChartSet() {
        let priceChart = document.getElementById("priceChart").getContext('2d');
        let price = {{results|tojson}};
        let dateArr2 = [];
        let dataArr2 = [];
        let colorArr2 = [];
        let KR_TIME_DIFF = 9 * 60 * 60 * 1000;

        for (let j = 0; j < price["series"][0]["values"].length; j++) {
            let item2 = price["series"][0]["values"][j];
            let setDate2= new Date(item2[7]).getTime();
            setDate2 = setDate2 + KR_TIME_DIFF;
            setDate2 = new Date(setDate2).toISOString();
            let date2 = setDate2.substring(5, 10) + " " + setDate2.substring(11, 19);
            let value2 = item[3];
            dateArr2.unshift(date2);
            dataArr2.unshift(value2);
            if(value2 >= 100) colorArr2.unshift("#F15F5F")
            else colorArr2.unshift("#6799FF");
        }

        new Chart(priceChart, {
            type: "bar",
            data: {
                labels: dateArr2,
                datasets: [
                    {
                        label: "가격 변동",
                        data: dataArr2,
                        backgroundColor: colorArr2,
                        radius: 0,
                        borderWidth: 1,
                    },
                ],
            },
        });
    }
    function calScore() {
        let score = 100;
        let indx = {{ results|tojson}};
        for (let j = 0; j < indx["series"][0]["values"].length; j++){
            let indxitem = indx["series"][0]["values"][j];
            let val = indxitem[3];
            score = score * val / 100;
            if (score < 10){
                score = score + 5;
            } else if (score > 1000){
                score = score/3;
            }
        }
        $('#sco').text(score);
    }
</script>
</html>