<div id="mainTopLogo">
    <a href="/">
        logo
    </a>
</div>

<div class="mainTopMenu" id="mainTopMenu">
    <ul>
        <li><button type="button" data-keyword="dashboard" onClick="location.href='/'">시간별 추세</button></li>
        <li><button type="button" data-keyword="monitoring" onClick="location.href='/coinrate'">상세 추세</button></li>
        <li><button type="button" data-keyword="monitoring" onClick="location.href='/coinScore10'">추천코인</button></li>
        <li><button type="button" data-keyword="adminmunu" onClick="location.href='/setup'">설정</button></li>
    </ul>
</div>

<!-- <div id="mainInfo">
    <form type="button">
        {%  if session["userName"] %}
        <object src="/static/images/profile.svg" type="images/svg+xml">
            <img src="/static/images/profile.svg" alt="logout"/>
        </object>
        <span>{{ session["userName"]}}</span>
        {%  endif %}
    </form>
    <form type="button" data-keyword="LOGOUT" onClick="location.href='../logout'">
        <object src="/static/images/logout.svg" type="images/svg+xml">
            <img src="/static/images/logout.svg" alt="logout"/>
        </object>
    </form>
</div> -->