<!DOCTYPE html>
<html lang="en">
<head>
    {% include './header.html' %}
    <meta charset="UTF-8">
    <title>vCoin Manager</title>
</head>
<body>
    <div id="commonTopHeader">
        {% include './comTopHeader.html' %}      
    </div>
    
    <div id="commonBodyContents">
        {% include './sideMenu.html' %}
        
        <div id="commonContent">
            <div class="container">
                <label for="cointyp">코인선택</label>
                <select name="cointype" id="cointyp" onchange="selectChange(this);">
                    <option value="">--</option>
                    {% for coin in coinlist %}
                    <option value={{ coin }}>{{ coin }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
</body>
<script>
    function selectChange(thisEle){
        location.href = "/coin10/" + thisEle.value;
        session.setAttribute("selcoin10", "/coin10/" + thisEle.value);
        session.setAttribute("selcoin30", "/coin30/" + thisEle.value);
        session.setAttribute("selcoin60", "/coin60/" + thisEle.value);
    }
</script>
</html>